@use "@/styles/mixin"as *;
@use "@/styles/components/header";
@use "@/styles/components/footer";
@use "@/styles/components/loading";
@use '@/styles/components/tailwind';

.data-table {
  button {
    overflow: hidden;

    &:disabled {
      cursor: no-drop;
    }
  }

  button.loading {
    display: flex;

    svg {
      @include animation(spin-180)
    }
  }
}

.table {
  thead {
    tr {
      th {
        padding: 0 15px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background: #fbfbfb;
      }

      &:nth-child(even) {
        background: #fff;
      }

      td {
        padding: 15px;
        border: none;
        border-bottom: 1px solid #f2f2f2;
      }
    }
  }
}