@use "./variables" as *;

@mixin font-declare($default-font: $default-font, $default-font-size: $default-font-size, $font-weight: $font-weight) {
  font-family: $default-font;
  font-size: $default-font-size;
  font-weight: $font-weight;
}

@mixin overflow($y: hidden, $x: hidden) {
  overflow: $x $y;
}

@mixin box-shadow($left, $top, $radius, $color) {
  box-shadow: $left $top $radius $color;
}

@mixin transition($property: all, $easing: ease, $duration: .2s) {
  transition: $property $easing $duration;
}

@mixin border-radius($radius: 100%) {
  border-radius: $radius;
}

@mixin all-border-radius($topleft, $topright, $bottomright, $bottomleft) {
  border-top-left-radius: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
}

@mixin gradient($color1, $color2) {
  background-color: $color1;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
  background-image: -moz-linear-gradient(center top, $color1, $color2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}