$background: #f5f5f5;
$color: #161616;

$lato-font: 'Lato', sans-serif;
$montserrat-sans: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$default-font: $montserrat-sans;
$default-font-size: 10pt;
$font-weight: 400;
$font-weight-light: 300;
$font-weight-bold: 800;

$breakpoint-x-tablet: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-x-phone: 768px;
$breakpoint-phone: 576px;
$breakpoint-s-phone: 375px;
$breakpoint-xs-phone: 320px;